{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Mon profil{% endblock %}

{% block section %}
<div class="d-flex justify-content-center align-items-center row m-3">
    <div class="d-flex col-sm-12 col-md-3 justify-content-center align-content-around">
        <img src="{{ asset(img) }}" alt="Image de profil de {{ participant.pseudo }}" class="img-fluid rounded-2 shadow">
    </div>
        {% include form %}
</div>

{% endblock %}
